@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    color: var(--main-text);
    background-color: transparent;
    font-size: var(--font-size);
    font-family: 'Ubuntu', sans-serif;
    accent-color: var(--accent-color);
    border-color: var(--main-text);
}

:root {
    --main-bg: hsl(266, 48%, 80%);
    --secondary-bg: hsl(266, 48%, 95%);
    --main-text: hsl(266, 48%, 10%);
    --accent-color: hsl(266, 48%, 45%);
    --font-size: calc(2px + .75vmax + .75vh);
}

a {
    transition: .3s ease-in-out;
}

a:hover {
    color: var(--accent-color);
}

h1 {
    font-size: 175%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
}

h4 {
    font-size: 110%;
}
